.Web_home {
  width: 1180px;
  margin: 0 auto;
}
.Web_bigbox{
    width: 100%;
    background: #2257c9;
    color: #ffffff;
    padding-top: 50px;
    font-size: 16px;
}
.Web_box1{
    width: 1180px;
    height: 520px;
    margin: 0 auto;
    position: relative;
}
.Web_topbox{
    width: 100%;
    height: 200px;
    display: flex;
}
.Web_head-left{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.Web_title-a{
    margin-bottom: 5px;
}
.Web_title-a img{
    width: 220px;
    height: 55px;
}
.Web_title-b{
    width: 460px;
    height: 83px;
    line-height: 30px;
}
.Web_btn1{
    width: 100px;
	height: 30px;
	border-radius: 3px;
    border: solid 1px #ffffff;
    margin-right: 10px;
}
.Web_btn2{
    width: 100px;
	height: 30px;
	border-radius: 3px;
    border: solid 1px #ffffff;
}
.Web_title-c{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    line-height: 24px;
}
.Web_title-d{
    margin-top: 50px;
}
.Web_head-right{
    width: 664px;
    height: 397px;
    background: url('./images/bg1.png') no-repeat;
    background-size: cover;
}
.Web_squaer{
    width: 1180px;
    height: 100%;
    position: absolute;
    top: 380px;
}

.Web_box2{
    width: 100%;
    height: 680px;
    margin: 0 auto;
    background-color: #fafafa;
    padding: 200px 330px 0 400px;
    display: flex;
    flex-direction: column;
}
.Web_mid{
    display: flex;
}
.Web_mid-left{
    width: 500px;
    height: 300px;
    margin-right: 150px;
    float: left;
    display: flex;
    flex-direction: column;
}
.Web_yingyong{
    font-family: MicrosoftYaHei;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 23px;
	letter-spacing: 0px;
    color: #818181;
    padding:0 0 10px 0;
    border-bottom: 2px solid blue;
    width: 70px;
}
.Web_zoubian{
    font-family: MicrosoftYaHei;
	font-size: 21px;
	font-weight: bold;
	font-stretch: normal;
	line-height: 23px;
	letter-spacing: 0px;
    color: #303030;
    margin: 20px 0;
}
.Web_words{
    font-family: MicrosoftYaHei;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #818181;
    line-height: 30px;
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.Web_know{
    align-self: flex-end;
    margin-top: 10px;
}
.Web_mid-right{
    width: 580px;
    height: 300px;
    float: right;
}
.Web_mid-right img{
    width: 480px;
    height: 320px;
}
.Web_mid-bottom{
    align-self: center;
    justify-content: center;
    width: 105px;
    height: 25px;
    margin:80px 0 50px 0;
}
.Web_anli{
    width: 160px;
	height: 40px;
	border-radius: 20px;
    border: solid 1px #2257c9;
    color: #2257c9;;
    text-align: center;
    line-height: 40px;
    font-size: 17px;
}

.Web_box3{
    width: 100%;
    background: #ffffff;
    text-align: center;
}
.Web_box3 img{
    width: 1180px;
    display: inline-block;
}
.Web_box4{
    width: 100%;
    background: #fafafa;
    text-align: center;
}
.Web_box4 img{
    width: 1180px;
    display: inline-block;
}
.Web_box5{
    width: 100%;
    background: #ffffff;
    text-align: center;
}
.Web_box5 img{
    width: 1180px;
    display: inline-block;
}