.Web_login_header {
  height: 350px;
  background-color: #2257c9;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.Web_login_content {
  display: flex;
  justify-content: center;
  min-height: 250px;
}
.Web_login_box {
  margin-top: -127px;
	width: 350px;
	/* height: 273px; */
  background-color: #ffffff;
  padding-top: 30px;
	box-shadow: 0px 0px 11px 2px	rgba(142, 142, 142, 0.22);
}
.Web_login_box_tabBox {
  width: 200px;
}