a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}

#components-layout-demo-custom-trigger .ant-menu-item a {
    color: hsla(0, 0%, 100%, .65);
}

#components-layout-demo-custom-trigger .ant-menu-item.ant-menu-item-selected a {
    color: #fff;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

#components-layout-demo-custom-trigger .ant-layout-sider {
    min-height: 100vh;
}